__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
.env
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage
*.log
postgres_data/
analysis_frames/
.cursorrules
*.db
*.sqlite
*.sqlite3
alembic/__pycache__/
data/videos/
analysis_frames/*

